<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new bank</title>
    <script type="text/javascript" th:src="@{js/add-scripts.js}"></script>
    <script type="text/javascript" th:src="@{js/common.js}"></script>
</head>
<p>BIN:<input id="bin" type="text"/></p>
<p>BankURL:<input id="url" type="text"/></p>
<button id="btnSend" onclick="sendForm()">Send</button>
<br>
<label id="status"></label><br>
<a href="/">back</a>
</body>
</html>